body{
    margin:0;

    font-family:Arial, sans-serif;

    background:#0f172a;

    color:white;
}

.home-page{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;
}

.home-container h1{

    font-size:55px;
}

.home-container p{

    color:#cbd5e1;

    font-size:22px;
}

.enter-btn{

    display:inline-block;

    margin-top:30px;

    padding:15px 35px;

    background:#a855f7;

    color:white;

    text-decoration:none;

    border-radius:30px;

    transition:0.3s;
}

.enter-btn:hover{

    background:#7e22ce;
}

nav{

    position:sticky;

    top:0;

    background:#1e293b;

    padding:20px 40px;

    display:flex;

    justify-content:space-between;

    align-items:center;
}

nav a{

    color:white;

    text-decoration:none;

    margin-left:20px;
}

nav a:hover{

    color:#c084fc;
}

.card{

    width:75%;

    margin:40px auto;

    padding:35px;

    background:#1e293b;

    border-radius:20px;

    box-shadow:0 0 20px rgba(168,85,247,0.2);
}

.card h1{

    color:#c084fc;
}

.card h3{

    color:#93c5fd;
}

li{

    margin:10px 0;
}

footer{

    text-align:center;

    padding:40px;

    color:#cbd5e1;
}
