body{

background:linear-gradient(
to bottom,
#020617,
#0f172a
);

color:white;

font-family:Arial;

text-align:center;

margin:0;

padding:50px;

overflow-x:hidden;

min-height:100vh;

}


.container{

max-width:1000px;

margin:auto;

position:relative;

z-index:2;

}


h1{

font-size:65px;

margin-bottom:20px;

}


.quote{

font-size:30px;

color:#cbd5e1;

}


.quote2{

font-size:20px;

color:#94a3b8;

margin-bottom:30px;

}


button{

padding:15px 30px;

border:none;

border-radius:30px;

font-size:18px;

cursor:pointer;

margin:10px;

transition:0.4s;

}


button:hover{

transform:scale(1.1);

}


.menu{

margin-top:40px;

}


.contentBox{

background:rgba(
255,
255,
255,
0.1
);

padding:30px;

border-radius:30px;

margin-top:30px;

min-height:200px;

backdrop-filter:blur(10px);

}


.card{

background:rgba(
255,
255,
255,
0.08
);

padding:20px;

margin:20px;

border-radius:20px;

}


.star{

position:fixed;

width:2px;

height:2px;

background:white;

border-radius:50%;

animation:
twinkle 3s infinite alternate;

z-index:1;

}


@keyframes twinkle{

from{

opacity:0.2;

transform:scale(1);

}

to{

opacity:1;

transform:scale(1.8);

}

}
